# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# PyCharm
.idea/

# Data
data/raw/
data/processed/
*.csv
*.parquet

# Models
models/
*.pkl
*.pt
*.h5

# OS
.DS_Store
Thumbs.db
